<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="static/global.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
            <h1>uforesite</h1>
            <h3>See the Future Today.</h3>
            <hr>

            <form action="/upload-file" method="POST" enctype="multipart/form-data" style="text-align: center; margin: 0 auto;">

                <div class="form-group">
                <label class="browsetext">Browse your file</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="file">
                </div>
                </div>

                <button type="submit" class="btn btn-primary" style="font:'Source Sans Pro',serif;color:white;font-size: 20px;position: absolute;left: 927px;top: 817px;">Upload</button>

            </form>

            </div>
        </div>
        <div class="triangle">
        </div>
        <div class="hometext">
        </div>
        <div class="uploadcsv">
        </div>
        <div class="browsefile">
        </div>
        <div class="browsetext">
        </div>
        <div class="nofile">
        </div>
        <div class="upload">
        </div>
        <div class="uploadedfiletext">
        </div>
        <div class="browsefilebox">
        </div>
        <div class="selectedfilesbox">
        </div>

    </div>
</body>

</html>